<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="{{ '/assets/images/favicon.svg' | relative_url }}" type="image/svg+xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% assign theme_stylesheet = page.theme_stylesheet | default: site.theme_stylesheet %}
{% if theme_stylesheet contains 'copper-file' %}
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Inconsolata:wght@400;600&display=swap" rel="stylesheet">
{% else %}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;800&family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
{% if theme_stylesheet %}
<link rel="stylesheet" href="{{ theme_stylesheet | relative_url }}">
{% endif %}
{% if page.extra_stylesheets %}
	{% for stylesheet in page.extra_stylesheets %}
<link rel="stylesheet" href="{{ stylesheet | relative_url }}">
	{% endfor %}
{% endif %}
{% seo %}
